.bg-gradient-info {
    background: #2982cc!important;
    background: linear-gradient(45deg,#39f 0%,#2982cc 100%)!important;
    border-color: #2982cc!important;
}

.bg-gradient-primary {
    background: #1f1498!important;
    background: linear-gradient(45deg,#321fdb 0%,#1f1498 100%)!important;
    border-color: #1f1498!important;
}
.bg-gradient-warning {
    background: #f6960b!important;
    background: linear-gradient(45deg,#f9b115 0%,#f6960b 100%)!important;
    border-color: #f6960b!important;
}
.bg-gradient-danger {
    background: #d93737!important;
    background: linear-gradient(45deg,#e55353 0%,#d93737 100%)!important;
    border-color: #d93737!important;
}
